# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment files
# =========================
.env
backend/.env
frontend/.env

# =========================
# Build
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db