.contact-hero {

    min-height:450px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:80px 8%;


    background:

            linear-gradient(
                    rgba(0,0,0,.6),
                    rgba(0,0,0,.6)
            ),

            url("../../assets/hero.png");


    background-size:cover;

    background-position:center;

    color:white;

}



.contact-hero-content {

    max-width:700px;

}



.contact-hero h1 {

    font-size:55px;

    margin-bottom:20px;

}



.contact-hero p {

    font-size:20px;

    line-height:1.8;

}



.contact-info {

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    padding:80px 8%;

}



.contact-card {

    background:white;

    padding:35px 25px;

    text-align:center;

    border-radius:18px;

    box-shadow:
            0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}



.contact-card:hover {

    transform:translateY(-8px);

}



.contact-icon {

    font-size:40px;

    margin-bottom:20px;

}



.contact-card h3 {

    font-size:22px;

    margin-bottom:15px;

}



.contact-card p {

    color:#666;

    line-height:1.6;

}



@media(max-width:1000px){

    .contact-info{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:600px){

    .contact-info{

        grid-template-columns:1fr;

    }

}.contact-info {

     display:grid;

     grid-template-columns:repeat(5,1fr);

     gap:25px;

     padding:60px 8%;

 }



.contact-card {

    background:white;

    padding:35px 25px;

    text-align:center;

    border-radius:18px;

    box-shadow:
            0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}



.contact-card:hover {

    transform:translateY(-8px);

}



.contact-icon {

    font-size:40px;

    margin-bottom:20px;

}



.contact-card h3 {

    font-size:22px;

    margin-bottom:15px;

}



.contact-card p {

    color:#666;

    line-height:1.6;

}



@media(max-width:1000px){

    .contact-info{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:600px){

    .contact-info{

        grid-template-columns:1fr;

    }

}
